@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .line-clamp-3 {
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }
    
    .aspect-w-4 {
        position: relative;
        padding-bottom: calc(var(--aspect-ratio, 3/4) * 100%);
    }
    
    .aspect-h-3 {
        --aspect-ratio: 3/4;
    }
    
    .aspect-w-1 {
        position: relative;
        padding-bottom: calc(var(--aspect-ratio, 1) * 100%);
    }
    
    .aspect-h-1 {
        --aspect-ratio: 1;
    }
    
    .aspect-w-4 > * {
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }
    
    .aspect-w-1 > * {
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }
}
